/* ===================

MAIN RESET  

======================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  font-family: "cobbler_sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

.Main {
  overflow: hidden;
  max-width: 100%;
}

.listedtext {}

.listedtext li {
  list-style: circle;
  margin-left: 32px;
  padding-left: 8px;
}

/* ===================

FONT STYLES  

======================*/

.D1 {
  font-family: "cobbler", sans-serif;
  font-weight: bold;
  margin-bottom: 0.8em;
  font-size: 40px;
  line-height: 48px;
}

.D2 {
  font-family: "cobbler", sans-serif;
  font-weight: bold;
  margin-bottom: 0.8em;
  font-size: 24px;
  line-height: 28px;
}

.h1 {
  font-family: "cobbler", sans-serif;
  font-weight: 500;
  margin-bottom: 0.6em;
  font-size: 28px;
  line-height: 32px;
}

.h2 {
  font-family: "cobbler", sans-serif;
  font-weight: 500;
  margin-bottom: 0.6em;
  font-size: 24px;
  line-height: 28px;
}

.h3 {
  font-family: "cobbler", sans-serif;
  font-weight: 500;
  margin-bottom: 0.6em;
  font-size: 20px;
  line-height: 24px;
}

.h4 {
  font-family: "cobbler", sans-serif;
  font-weight: 500;
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 20px;
}

.h5 {
  font-family: "cobbler", sans-serif;
  font-weight: 500;
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 20px;
}

.h6 {
  font-family: "cobbler", sans-serif;
  font-weight: 500;
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 18px;
}

.SUB {
  font-family: "cobbler_sans", sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 16px;
}

.LeadBody {
  font-family: "cobbler_sans", sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 20px;
}

.Body {
  font-family: "cobbler_sans", sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 16px;
}

.Caption {
  font-family: "cobbler_sans", sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  font-size: 12px;
  line-height: 16px;
}

.TAG {
  font-family: "cobbler_sans", sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.TAG2 {
  font-family: "cobbler_sans", sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
  .TAG {
    font-size: 18px;
    line-height: 22px;
  }

  .TAG2 {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 1280px) {
  .D1 {
    font-size: 72px;
    line-height: 76px;
  }

  .D2 {
    font-size: 54px;
    line-height: 58px;
  }

  .h1 {
    font-size: 48px;
    line-height: 56px;
  }

  .h2 {
    font-size: 40px;
    line-height: 44px;
  }

  .h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .h5 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 1920px) {
  .D1 {
    font-size: 100px;
    line-height: 102px;
  }

  .D2 {
    font-size: 80px;
    line-height: 96px;
  }

  .h1 {
    font-size: 58px;
    line-height: 54px;
  }

  .h2 {
    font-size: 52px;
    line-height: 54px;
  }

  .h3 {
    font-size: 32px;
    line-height: 54px;
  }

  .h4 {
    font-size: 24px;
    line-height: 28px;
  }

  .h5 {
    font-size: 32px;
    line-height: 36px;
  }

  .h6 {
    font-size: 24px;
    line-height: 36px;
  }

  .SUB {
    font-size: 18px;
    line-height: 36px;
  }

  .LeadBody {
    font-size: 24px;
    line-height: 30px;
  }

  .Body {
    font-size: 16px;
    line-height: 20px;
  }

  .Caption {
    font-size: 12px;
    line-height: 16px;
  }

  .TAG {
    font-size: 24px;
    line-height: 36px;
  }

  .TAG2 {
    font-size: 14px;
    line-height: 18px;
  }
}

/* ===================

COLORS  

======================*/

/*

Brand-01-Green   27AE60
Brand-02-Orange  F2994A
Brand-03-Blue    1C529B
Brand-04-Red     EB5757

Link-ThemeGreen				27AE60
Link:Hover-ThemeGreen		6FCF97
Link:Active -ThemeGreen 	176347
Link:Visited-ThemeGreen 	176347

Link-ThemeOrange				F2994A
Link:Hover-ThemeOrange			F8A65E
Link:Active-ThemeOrange			F98117
Link:Visited-ThemeOrange		F98117

Link-ThemeBlue					1C529B
Link:Hover-ThemeBlue			4069A0
Link:Active-ThemeBlue			174179
Link:Visited-ThemeBlue			174179

Text-Main			333333
Text-Light			5C5C5C
Text-Inverse		FFFFFF
Text-Placeholder	5C5C5C
Text-ThemeGreen		27AE60
Text-ThemeOrange	F2994A
Text-ThemeBlue		1C529B

UI-Disabled-Light   B6B6B6
UI-Disabled-Lighter ECECEC

UI-Background-White			FFFFFF
UI-Background-Grey 			CFCFCF
UI-Background-GreyLighter	F8F8F8
UI-Background-DarkGrey 		3C3C3C
UI-Background-DarkerGrey	333333
UI-Background-ThemeGreen	27AE60
UI-Background-ThemeOrange	F2994A
UI-Background-ThemeBlue		1C529B

Overlay-Grey				rgba(0, 0, 0, 0.2);
Overlay-Dark				rgba(51, 51, 51, 0.7);
Overlay-ThemeGreen			rgba(23, 99, 71, 0.9);
Overlay-ThemeOrange			rgba(242, 153, 74, 0.9);
Overlay-ThemeBlue			rgba(28, 82, 155, 0.9);

Gradient-GreenToDark		linear-gradient(90deg, #219653 0%, #176347 100%);
Gradient-OrangeToDark		linear-gradient(90deg, #FFDA79 0%, #F2994A 100%);
Gradient-BlueToLight		linear-gradient(90deg, #1C529B 0%, #56CCF2 100%);



*/

/* ===================

LINK COLORS  

======================*/

.Link-ThemeGreen {
  color: #27ae60;
  text-decoration: none;
}

.Link-ThemeGreen:hover {
  color: #6fcf97;
  text-decoration: underline;
}

.Link-ThemeGreen:active {
  color: #176347;
  text-decoration: underline;
}

.Link-ThemeGreen:focus {
  color: #176347;
  text-decoration: underline;
}

.Link-ThemeGreen:visited {
  color: #6fcf97;
  text-decoration: none;
}

.Link-ThemeOrange {
  color: #f2994a;
  text-decoration: none;
}

.Link-ThemeOrange:hover {
  color: #f8a65e;
  text-decoration: underline;
}

.Link-ThemeOrange:active {
  color: #f98117;
  text-decoration: underline;
}

.Link-ThemeOrange:focus {
  color: #f98117;
  text-decoration: underline;
}

.Link-ThemeOrange:visited {
  color: #f8a65e;
  text-decoration: none;
}

.Link-ThemeBlue {
  color: #1c529b;
  text-decoration: none;
}

.Link-ThemeBlue:hover {
  color: #4069a0;
  text-decoration: underline;
}

.Link-ThemeBlue:active {
  color: #174179;
  text-decoration: underline;
}

.Link-ThemeBlue:focus {
  color: #174179;
  text-decoration: underline;
}

.Link-ThemeBlue:visited {
  color: #4069a0;
  text-decoration: none;
}

.Link-Inverted {
  color: #ffffff;
  text-decoration: none;
}

.Link-Inverted:hover {
  color: #d2ffe5;
  text-decoration: underline;
}

.Link-Inverted:active {
  color: #ffffff;
  text-decoration: underline;
}

.Link-Inverted:focus {
  color: #ffffff;
  text-decoration: underline;
}

.Link-Inverted:visited {
  color: #ffffff;
  text-decoration: none;
}

.Link-MainText {
  color: #333333;
  text-decoration: none;
}

.Link-MainText:hover {
  color: #333333;
  text-decoration: underline;
}

.Link-MainText:active {
  color: #333333;
  text-decoration: underline;
}

.Link-MainText:focus {
  color: #333333;
  text-decoration: underline;
}

.Link-MainText:visited {
  color: #333333;
  text-decoration: none;
}

.Link-Inverted-icon {
  color: #ffffff;
  text-decoration: none;
}

.Link-Inverted-icon:hover {
  color: #d2ffe5;
  text-decoration: none;
}

.Link-Inverted-icon:active {
  color: #ffffff;
  text-decoration: none;
}

.Link-Inverted-icon:focus {
  color: #ffffff;
  text-decoration: none;
}

.Link-Inverted-icon:visited {
  color: #ffffff;
  text-decoration: none;
}

.Link-ThemeGreen-icon {
  color: #27ae60;
  text-decoration: none;
}

.Link-ThemeGreen-icon:hover {
  color: #6fcf97;
  text-decoration: none;
}

.Link-ThemeGreen-icon:active {
  color: #176347;
  text-decoration: none;
}

.Link-ThemeGreen-icon:focus {
  color: #176347;
  text-decoration: none;
}

.Link-ThemeGreen-icon:visited {
  color: #6fcf97;
  text-decoration: none;
}

/* ===================

TEXT COLORS  

======================*/

.Text-ThemeGreen {
  color: #27ae60;
}

.Text-ThemeOrange {
  color: #f2994a;
}

.Text-ThemeBlue {
  color: #1c529b;
}

.Text-Inverted {
  color: #ffffff;
}

.Text-ThemeRed {
  color: #eb5757;
}

/* ===================

BUTTONS  

======================*/

.Button-01-ThemeGreen {
  color: #ffffff;
  background-color: #27ae60;
  padding: 0 24px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  display: block;
  border: 0;
}

.Button-01-ThemeGreen:active {
  color: #ffffff;
  background-color: #176347 !important;
}

.Button-01-ThemeGreen:hover {
  color: #ffffff;
  background-color: #6fcf97;
  text-decoration: none;
}

.Button-01-ThemeGreen:focus {
  color: #ffffff;
  background-color: #27ae60;
  border: 1px solid #176347;
}

.Button-01-ThemeGreen:disabled {
  color: #b6b6b6;
  background-color: #ececec;
}

.Button-02-ThemeGreenInverted {
  color: #27ae60;
  background-color: #ffffff;
  padding: 0 24px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  display: block;
  border: 0;
}

.Button-02-ThemeGreenInverted:active {
  color: #ffffff !important;
  background-color: #6fcf97 !important;
}

.Button-02-ThemeGreenInverted:hover {
  color: #27ae60;
  background-color: #ffffff;
  text-decoration: none;
}

.Button-02-ThemeGreenInverted:focus {
  color: #27ae60;
  background-color: #ffffff;
  border: 1px solid #176347;
}

.Button-02-ThemeGreenInverted:disabled {
  color: #b6b6b6;
  background-color: #ececec;
}

.Button-03-ThemeOrange {
  color: #ffffff;
  background-color: #f2994a;
  padding: 0 24px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  display: block;
  border: 0;
}

.Button-03-ThemeOrange:active {
  color: #ffffff;
  background-color: #f2994a !important;
}

.Button-03-ThemeOrange:hover {
  color: #ffffff;
  background-color: #f2994a;
  text-decoration: none;
}

.Button-03-ThemeOrange:focus {
  color: #ffffff;
  background-color: #f2994a;
  border: 1px solid #176347;
}

.Button-03-ThemeOrange:disabled {
  color: #b6b6b6;
  background-color: #ececec;
}

.Button-04-ThemeOrangeInverted {
  color: #f2994a;
  background-color: #ffffff;
  padding: 0 24px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  display: block;
  border: 0;
}

.Button-04-ThemeOrangeInverted:active {
  color: #ffffff !important;
  background-color: #6fcf97 !important;
}

.Button-04-ThemeOrangeInverted:hover {
  color: #f2994a;
  background-color: #ffffff;
  text-decoration: none;
}

.Button-04-ThemeOrangeInverted:focus {
  color: #f2994a;
  background-color: #ffffff;
  border: 1px solid #176347;
}

.Button-04-ThemeOrangeInverted:disabled {
  color: #b6b6b6;
  background-color: #ececec;
}

.Button-05-ThemeBlue {
  color: #ffffff;
  background-color: #1c529b;
  padding: 0 24px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  display: block;
  border: 0;
}

.Button-05-ThemeBlue:active {
  color: #ffffff;
  background-color: #1c529b !important;
}

.Button-05-ThemeBlue:hover {
  color: #ffffff;
  background-color: #1c529b;
  text-decoration: none;
}

.Button-05-ThemeBlue:focus {
  color: #ffffff;
  background-color: #1c529b;
  border: 1px solid #176347;
}

.Button-05-ThemeBlue:disabled {
  color: #b6b6b6;
  background-color: #ececec;
}

.Button-06-ThemeBlueInverted {
  color: #1c529b;
  background-color: #ffffff;
  padding: 0 24px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  display: block;
  border: 0;
}

.Button-06-ThemeBlueInverted:active {
  color: #ffffff !important;
  background-color: #6fcf97 !important;
}

.Button-06-ThemeBlueInverted:hover {
  color: #1c529b;
  background-color: #ffffff;
  text-decoration: none;
}

.Button-06-ThemeBlueInverted:focus {
  color: #1c529b;
  background-color: #ffffff;
  border: 1px solid #176347;
}

.Button-06-ThemeBlueInverted:disabled {
  color: #b6b6b6;
  background-color: #ececec;
}

.BTSmall,
.BTSmall .icon {
  height: 40px;
  line-height: 40px;
}

.BTMedium,
.BTMedium .icon {
  height: 48px;
  line-height: 48px;
}

.BTBig,
.BTBig .icon {
  height: 56px;
  line-height: 56px;
}

@media (max-width: 767px) {

  .BTSmall.BTBIR .icon,
  .BTSmall.BTBIR,
  .BTMedium.BTBIR .icon,
  .BTMedium.BTBIR,
  .BTBig.BTBIR .icon,
  .BTBig.BTBIR {
    height: 48px !important;
    width: 48px;
    line-height: 48px;
    font-size: 32px;
    padding: 0;
  }
}

/* ===================

TABLAS  

======================*/

table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.TableResponsive {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* ===================

ACCORDION  

======================*/

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

/* ===================

FORMULARIOS  

======================*/

body.modal-open {
  overflow: hidden;
}

.form-horizontal {}

.form-horizontal fieldset {
  border: 0;
}

.form-horizontal legend {
  display: none;
}

.form-group {
  margin-bottom: 1em;
}

.col-md-4 {}

.control-label {
  display: none;
}

.form-control {
  display: block;
  width: 100%;
  padding: 16px;
  border: 1px solid #cfcfcf;
}

.form-control:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.help-block {
  display: none;
}

.form-horizontal .btn {
  float: right;
  min-width: 120px;
}

.form-horizontal textarea {
  resize: vertical;
}

/* ===================

TABS  

======================*/

.nav-tabs {
  border-bottom: 1px solid #cfcfcf;
}

.nav-item {
  flex: 1;
  text-align: center;
}

.nav-item .nav-link {
  text-decoration: none;
  padding: 8px 16px;
  margin-bottom: 0;
}

.nav-item .nav-link.active {}

.tab-pane {}

/* ===================

UsualContainer  

======================*/

.UsualContainer {
  width: 100%;
  padding: 0 24px 0 24px;
  margin: 0 auto;
}

.UsualContainer {
  zoom: 1;
}

.UsualContainer:before,
.UsualContainer:after {
  content: "";
  display: table;
}

.UsualContainer:after {
  clear: both;
}

@media (min-width: 768px) {
  .UsualContainer {
    width: 688px;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .UsualContainer {
    width: 896px;
  }
}

@media (min-width: 1280px) {
  .UsualContainer {
    width: 1120px;
  }
}

@media (min-width: 1920px) {
  .UsualContainer {
    width: 1664px;
  }
}

/* ===================

M01-TopHeader  

======================*/

.M01-TopHeader {
  background: #27ae60;
  height: 58px;
  display: none;
  position: relative;
  z-index: 10;
}

.M01-TopHeader .UsualContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.M01-TopHeader span.icon {
  font-size: 24px;
  height: 24px;
  vertical-align: middle;
  overflow: hidden;
}

.M01-TopHeader_GroupLeft {
  height: 24px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.M01-TopHeader_GroupLeftLi {
  padding: 0 12px 0 12px;
  border-left: 1px solid #fff;
}

.M01-TopHeader_GroupLeftLi:first-child {
  border-left: none;
  padding-left: 0;
}

.M01-TopHeader_GroupRight {
  height: 24px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.M01-TopHeader_GroupRightLi {
  margin-left: 24px;
  color: #fff;
}

.M01-TopHeader_GroupRightLi p {
  display: none;
  line-height: 24px;
}

.M01-TopHeader_GroupRightLi .icon {}

@media (min-width: 600px) {
  .M01-TopHeader_GroupRightLi p {
    display: inline;
  }

  .M01-TopHeader_Phone {
    min-width: 174px;
  }

  .M01-TopHeader_Mail {
    min-width: 226px;
  }

  .M01-TopHeader_GroupRightLi {
    margin-right: 24px;
    margin-left: 0;
  }

  .M01-TopHeader_GroupRightLi:last-child {
    margin-right: 0;
  }

  .M01-TopHeader_GroupRightLi .icon {
    margin-right: 16px;
  }
}

@media (min-width: 768px) {
  .M01-TopHeader {
    display: block;
  }
}

@media (min-width: 1024px) {
  .M01-TopHeader {
    display: block;
  }
}

/* ===================

M02-Header  

======================*/

.M02-Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 64px;
}

.M02-Header {
  zoom: 1;
}

.M02-Header:before,
.M02-Header:after {
  content: "";
  display: table;
}

.M02-Header:after {
  clear: both;
}

.M02-Header--Scroll {
  position: fixed;
  top: 0 !important;
  animation-name: headerhello;
  animation-duration: 1s;
}

@keyframes headerhello {
  0% {
    top: -112px;
  }

  100% {
    top: 0;
  }
}

.M02-Header .UsualContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.M02-Header__logo {
  width: 129px;
  height: 35px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.M02-Header__name {}

.M02-Header__desc {}

.M02-Header__nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.M02-Header__navUl {
  display: none;
  margin-bottom: 0;
}

.M02-Header__navLi {
  margin-bottom: 0;
  margin-left: 24px;
}

.M02-Header__button_contacto {
  margin-left: 24px;
}

.M02-Header__button_contacto .icon {
  display: block;
}

.M02-Header__button_contacto_text {
  display: none;
}

.M02-Header__button_menu {
  margin-left: 24px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  overflow: hidden;
}

.M02-Header__ThemeMain {
  background: rgba(51, 51, 51, 0.7);
}

.M02-Header__ThemeMain .M02-Header__logo {
  background: url(images/Brand-Logo-bn.svg) 0 0 no-repeat;
  background-size: auto 100%;
}

.M02-Header__ThemeMain .M02-Header__navLi a {
  color: #ffffff;
  text-decoration: none;
}

.M02-Header__ThemeMain .M02-Header__navLi a:hover {
  color: #d2ffe5;
  text-decoration: none;
}

.M02-Header__ThemeMain .M02-Header__button_menu {
  color: #ffffff;
  text-decoration: none;
}

.M02-Header__ThemeSecondary {
  background: #ffffff;
}

.M02-Header__ThemeSecondary .M02-Header__logo {
  background: url(images/Brand-Logo-Color.svg) 0 0 no-repeat;
  background-size: auto 100%;
}

.M02-Header__ThemeSecondary .M02-Header__navLi a {
  color: #333333;
  text-decoration: none;
  line-height: 32px;
}

.M02-Header__ThemeSecondary .M02-Header__navLi a:hover {
  color: #27ae60;
  text-decoration: none;
}

.M02-Header__ThemeSecondary .M02-Header__button_menu,
.M02-Header__ThemeSecondary .M02-Header__button_menu:hover .icon,
.M02-Header__ThemeSecondary .M02-Header__button_menu:active .icon,
.M02-Header__ThemeSecondary .M02-Header__button_menu:visited .icon {
  color: #27ae60;
  text-decoration: none;
}

.M02-Header__ThemeSecondary .M02-Header__Active {
  border-bottom: 2px solid #27ae60;
}

.M02-Header__ThemeSecondary.M02-Header--Scroll {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

@media (min-width: 768px) {
  .M02-Header {
    top: 58px;
  }

  .M02-Header__button_contacto {
    min-width: 120px;
  }

  .M02-Header__button_contacto .icon {
    display: none;
  }

  .M02-Header__button_contacto_text {
    display: block;
  }
}

@media (min-width: 1024px) {
  .M02-Header {
    height: 80px;
  }

  .M02-Header__logo {
    width: 147px;
    height: 43px;
  }
}

@media (min-width: 1280px) {
  .M02-Header__navUl {
    display: flex;
  }

  .M02-Header__button_menu {
    display: none;
  }
}

@media (min-width: 1920px) {
  .M02-Header {
    height: 96px;
  }

  .M02-Header__logo {
    width: 173px;
    height: 51px;
  }
}

/* ===================

M04-Footer  

======================*/

.M04-Footer {
  background: #333333;
  padding-bottom: 80px;
}

.M04-Footer .UsualContainer {}

.M04-Footer-Columns {
  display: flex;
  flex-direction: column;
}

.M04-Footer-Newsletter {
  padding: 32px;
  background: #3c3c3c;
}

.M04-Footer-Newsletter-Title {
  color: #ffffff;
}

.M04-Footer-Newsletter-Text {
  color: #ffffff;
}

.M04-Footer-Newsletter-Form {
  color: #ffffff;
}

.M04-Footer-Columns .M04-Footer-Newsletter-Input {
  color: #ffffff;
  background: #3c3c3c;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.M04-Footer-Columns .M04-Footer-Newsletter-Input::placeholder {
  color: #8f8f8f;
}

.M04-Footer-Nav {
  flex: 1;
  padding-top: 40px;
}

.M04-Footer__navUl {
  display: flex;
  color: #ffffff;
}

.M04-Footer__navLi {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 32px;
  margin-bottom: 2em;
}

.M04-Footer__navLi:last-child {
  margin-right: 0;
}

.M04-Footer-Nav-Title {
  color: #ffffff;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 16px;
}

.M04-Footer__navSubUl {
  display: flex;
  flex-direction: column;
}

.M04-Footer__navSubLi {}

.M04-Footer-Social {
  display: flex;
  justify-content: flex-end;
  padding: 24px 0;
  border-bottom: 1px solid #cfcfcf;
}

.M04-Footer-Social-navUl {
  display: flex;
}

.M04-Footer-Social-Li {
  padding: 0 16px;
  border-left: 1px solid #cfcfcf;
}

.M04-Footer-Social-Li:first-child {
  border-left: none;
}

.M04-Footer-Social-Li:last-child {
  padding-right: none;
}

.M04-Footer-Social-Li .icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  vertical-align: middle;
}

.M04-Footer-Sublinks {
  display: flex;
  padding: 24px 0;
}

.M04-Footer-Sublinks-navUl {
  display: flex;
}

.M04-Footer-Sublinks-Li {
  padding-right: 32px;
}

@media (max-width: 1023px) {
  .M04-Footer .UsualContainer {
    width: 100%;
    padding: 0;
  }

  .M04-Footer-Nav,
  .M04-Footer-Social,
  .M04-Footer-Sublinks {
    margin-left: 32px;
    margin-right: 32px;
  }

  .M04-Footer__navUl {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .M04-Footer-Newsletter {
    padding: 32px;
  }

  .M04-Footer-Nav {
    padding-top: 40px;
  }

  .M04-Footer__navLi {
    margin-right: 32px;
  }
}

@media (min-width: 1024px) {
  .M04-Footer-Columns {
    flex-direction: row;
  }

  .M04-Footer-Newsletter {
    min-width: 440px;
    padding: 24px;
    margin-right: 40px;
    margin-top: -48px;
  }

  .M04-Footer-Nav {
    padding-top: 72px;
  }

  .M04-Footer__navLi {
    margin-right: 24px;
  }
}

@media (min-width: 1280px) {
  .M04-Footer-Newsletter {
    min-width: 540px;
    padding: 32px;
    margin-right: 56px;
  }

  .M04-Footer-Nav {
    padding-top: 72px;
  }

  .M04-Footer__navLi {
    margin-right: 32px;
  }
}

@media (min-width: 1920px) {
  .M04-Footer-Newsletter {
    min-width: 786px;
    padding: 48px;
    margin-right: 120px;
  }

  .M04-Footer-Nav {
    padding-top: 88px;
  }

  .M04-Footer__navLi {
    margin-right: 64px;
  }
}

/* ===================

M05-Menu  

======================*/

.M05-Menu {
  display: flex;
  background: #f8f8f8;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  width: 100%;
  height: 0%;
  overflow: hidden;
  transition: height 0.2s ease-in;
}

.M05-Menu__logo {
  position: absolute;
  top: 32px;
  left: 32px;
  display: block;
  width: 173px;
  height: 51px;
  overflow: hidden;
  background: url(images/Brand-Logo-Color.svg) 0 0 no-repeat;
  background-size: auto 100%;
  text-indent: 100%;
  white-space: nowrap;
  float: left;
}

.M05-Menu__name {}

.M05-Menu__desc {}

.M05-Menu__button_menu {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 24px;
  height: 24px;
  width: 24px;
}

.M05-Header__nav {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.M05-Menu__navUl {
  padding-right: 20%;
}

.M05-Menu__navLi {
  font-weight: 500;
  margin-bottom: 1.5em;
}

.M05-Menu .M01-TopHeader {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
}

.M05-Menu__open {
  height: 100%;
  transition: height 0.5s ease-out;
}

@media (min-width: 600px) {
  .M05-Menu__navUl {
    padding-right: 30%;
  }
}

/* ===================

M06Hero  

======================*/

.M06Hero {
  overflow: hidden;
}

.M06Hero {
  zoom: 1;
}

.M06Hero:before,
.M06Hero:after {
  content: "";
  display: table;
}

.M06Hero:after {
  clear: both;
}

.M06Hero__Slide1 {
  overflow: hidden;
}

.M06Hero__Slide2 {
  overflow: hidden;
}

.M06Hero__Slide3 {
  overflow: hidden;
}

.M06Hero .owl-dots {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.M06Hero.owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
  opacity: 1;
  width: 20px;
  transition: width 0.2s ease-in;
}

.M06Hero.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
  opacity: 1;
}

.M06Hero.owl-theme .owl-dots .owl-dot span {
  background: #fff;
  opacity: 0.5;
  border-radius: 30px;
  margin-bottom: 10px;
}

.M06Hero.owl-theme .owl-nav {
  display: none;
}

.M06Hero__ImgPart {
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  background: center center no-repeat #3b3d3d;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.M06Hero__ImgPart__TextBox {
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.M06Hero__ImgPart__TextBox .M06Hero-Title {
  color: #ffffff;
  margin-bottom: 0.5em;
  width: 98%;
}

.M06Hero__ImgPart__TextBox .M06Hero-Text {
  color: #ffffff;
  margin-bottom: 2em;
  padding: 0 24px;
}

.M06Hero__Button {
  width: calc(100% - 48px);
}

.M06Hero .M06Hero__ImgPart .M06Hero__CurveGreen {
  position: absolute;
  bottom: -1px;
  left: -2%;
  width: 108%;
  height: auto;
  overflow: hidden;
  z-index: 2;
}

.M06Hero__Overlay {
  background: rgba(51, 51, 51, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .M06Hero {
    margin-top: -58px;
  }

  .M06Hero__ImgPart__TextBox {}

  .M06Hero__Button {
    max-width: 288px;
    margin: 0 0;
    width: auto;
  }

  .M06Hero .owl-dots {
    left: auto;
    bottom: auto;
    right: 5%;
    top: 50%;
    width: 30px;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {
  .M06Hero__ImgPart__TextBox {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

/* ===================

M07-Hero-Interior  

======================*/

.M07-Hero-Interior {
  display: flex;
  position: relative;
  padding-top: 64px;
  min-height: 100vw;
  overflow: hidden;
}

.M07-Hero-Interior__ThemeMain .M07-Hero-Interior-Content {
  background: url(images/subhero-curve-04-green.svg) top right no-repeat transparent;
  background-size: auto 102%;
}

.M07-Hero-Interior__ThemeOrange .M07-Hero-Interior-Content {
  background: url(images/subhero-curve-01-orange.svg) top right no-repeat transparent;
  background-size: auto 102%;
}

.M07-Hero-Interior__ThemeBlue .M07-Hero-Interior-Content {
  background: url(images/subhero-curve-02-blue.svg) top right no-repeat transparent;
  background-size: auto 102%;
}

.M07-Hero-Interior__ThemeDarkGreen .M07-Hero-Interior-Content {
  background: url(images/subhero-curve-03-greendark.svg) top right no-repeat transparent;
  background-size: auto 102%;
}

.M07-Hero-Interior-Content {
  width: 85%;
  padding: 48px 35vw 48px 48px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.M07-Hero-Interior-Content-Title {
  color: #ffffff;
  margin-bottom: 0.3em;
}

.M07-Hero-Interior-Content-Text {
  color: #ffffff;
  margin-bottom: 0;
}

.M07-Hero-Interior-Img {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .M07-Hero-Interior {
    padding-top: 64px;
    min-height: 45vw;
  }

  .M07-Hero-Interior-Content {
    width: 60%;
    padding: 48px 88px 48px 48px;
  }

  .M07-Hero-Interior-Img {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .M07-Hero-Interior {
    padding-top: 80px;
  }

  .M07-Hero-Interior-Content {
    width: 532px;
    padding: 48px 88px 48px 48px;
  }
}

@media (min-width: 1280px) {
  .M07-Hero-Interior {
    padding-top: 80px;
  }

  .M07-Hero-Interior-Content {
    width: 588px;
    padding: 80px 160px 80px 80px;
  }
}

@media (min-width: 1920px) {
  .M07-Hero-Interior {
    padding-top: 96px;
  }

  .M07-Hero-Interior-Content {
    width: 888px;
    padding: 104px 200px 104px 104px;
  }
}

/* ===================

M08-Hablamos  

======================*/

.M08-Hablamos {
  overflow: hidden;
  padding: 72px 0 72px 0;
  background: #f8f8f8;
  text-align: center;
}

.M08-Hablamos .UsualContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.M08-Hablamos .M08-Hablamos-Title {
  margin-bottom: 0.3em;
}

.M08-Hablamos .M08-Hablamos-Text {}

@media (min-width: 768px) {
  .M08-Hablamos {
    padding: 64px 0 32px 0;
    text-align: left;
  }

  .M08-Hablamos .UsualContainer {
    flex-direction: row;
  }

  .M08-Hablamos .M08-Hablamos-Title {
    margin-bottom: 0;
  }

  .M08-Hablamos .M08-Hablamos-Text {
    margin-bottom: 0;
    flex: 1;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .M08-Hablamos {
    padding: 88px 0 40px 0;
  }
}

@media (min-width: 1280px) {
  .M08-Hablamos {
    padding: 96px 0 56px 0;
  }
}

@media (min-width: 1920px) {
  .M08-Hablamos {
    padding: 176px 0 80px 0;
  }
}

/* ===================

M09-Formulario-Pie  

======================*/

.M09-Formulario-Pie {
  display: flex;
  flex-direction: column;
}

.M09-Formulario-Pie-BoxPhoto {
  min-height: 100vw;
  padding: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background: linear-gradient(rgba(23, 99, 71, 0.7), rgba(23, 99, 71, 0.7)),
    url(images/15_Photo.jpg) center center no-repeat;
  background-size: cover;
}

.M09-Formulario-Pie-Title {
  color: #ffffff;
}

.M09-Formulario-Pie-Text {
  color: #ffffff;
}

.M09-Formulario-Pie-BoxForm {
  min-height: 100vw;
  padding: 32px;
  flex: 1;
  background: #f8f8f8;
}

@media (min-width: 768px) {
  .M09-Formulario-Pie {
    flex-direction: row;
  }

  .M09-Formulario-Pie-BoxPhoto {
    padding: 32px;
    min-height: 50vw;
  }

  .M09-Formulario-Pie-BoxForm {
    padding: 32px;
    min-height: 50vw;
  }
}

@media (min-width: 1024px) {
  .M09-Formulario-Pie-BoxPhoto {
    padding: 40px;
  }

  .M09-Formulario-Pie-BoxForm {
    padding: 40px;
  }
}

@media (min-width: 1280px) {
  .M09-Formulario-Pie-BoxPhoto {
    padding: 64px;
  }

  .M09-Formulario-Pie-BoxForm {
    padding: 64px;
  }
}

@media (min-width: 1920px) {
  .M09-Formulario-Pie-BoxPhoto {
    padding: 96px;
  }

  .M09-Formulario-Pie-BoxForm {
    padding: 96px;
  }
}

/* ===================

M10-Modal-Contacto  

======================*/

.M10-Modal-Contacto {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background: rgba(51, 51, 51, 0.7);
  overflow-y: auto;
}

.M10-Modal-Contacto-WhiteBox {
  width: calc(100% - 16px);
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 32px;
  padding: 24px;
  transform: translate(0, -15%);
  transition: transform 0.3s ease-out;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.M10-Modal-Contacto-button_menu {
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  position: absolute;
}

.M10-Modal-Contacto-BoxForm {
  flex: 1;
  margin-bottom: 32px;
}

.M10-Modal-Contacto-BoxForm-Title {
  color: #333333;
}

.M10-Modal-Contacto-Info {
  padding: 24px 24px 88px 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
  background: url(images/curvy-white-line-h.svg) -2px 99% no-repeat #27ae60;
  background-size: 116% auto;
  overflow: hidden;
}

.M10-Modal-Contacto-Info-Title {
  color: #ffffff;
}

.M10-Modal-Contacto-Info-navUl {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}

.M10-Modal-Contacto-Info-Li {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.M10-Modal-Contacto-Info-Li .icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 32px;
  margin-right: 16px;
  vertical-align: middle;
  display: block;
}

.M10-Modal-Contacto-Info-Li-Text {
  display: block;
  flex: 1;
}

.M10-Modal-Contacto__open {
  opacity: 1;
  height: 100%;
  transition: opacity 0.5s ease-out;
}

.M10-Modal-Contacto__open .M10-Modal-Contacto-WhiteBox {
  margin-top: 35px;
  transform: translate(0, 0);
  transition: transform 0.3s ease-out;
}

@media (min-width: 768px) {
  .M10-Modal-Contacto {}

  .M10-Modal-Contacto-WhiteBox {
    width: 752px;
    padding: 32px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .M10-Modal-Contacto-BoxForm {}

  .M10-Modal-Contacto-Info {
    background: url(images/curvy-white-line-v.svg) 95% -2px no-repeat #27ae60;
  }

  .M10-Modal-Contacto-button_menu {
    top: 24px;
    right: 24px;
  }
}

@media (min-width: 1024px) {
  .M10-Modal-Contacto-WhiteBox {
    width: 800px;
    padding: 40px;
    flex-direction: row;
    margin-top: 56px;
  }

  .M10-Modal-Contacto-BoxForm {
    padding-right: 40px;
    margin-bottom: 0;
  }

  .M10-Modal-Contacto-Info {
    width: 320px;
    background: url(images/curvy-white-line-h.svg) -2px 90% no-repeat #27ae60;
  }

  .M10-Modal-Contacto-Info-navUl {
    padding-top: 32px;
  }

  .M10-Modal-Contacto-button_menu {
    top: 16px;
    right: 16px;
  }
}

@media (min-width: 1280px) {
  .M10-Modal-Contacto-WhiteBox {
    width: 928px;
    padding: 72px;
    margin-top: 64px;
  }

  .M10-Modal-Contacto-button_menu {
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
  }

  .M10-Modal-Contacto-Info {
    padding: 48px;
  }

  .M10-Modal-Contacto-BoxForm {
    padding-right: 72px;
  }

  .M10-Modal-Contacto-Info-Li {
    margin-bottom: 3em;
  }

  .M10-Modal-Contacto-Info-Li .icon {
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 56px;
    padding-right: 24px;
  }

  .M10-Modal-Contacto-button_menu {
    top: 24px;
    right: 24px;
  }
}

@media (min-width: 1920px) {
  .M10-Modal-Contacto-WhiteBox {
    width: 1280px;
    padding: 96px;
    margin-top: 80px;
  }

  .M10-Modal-Contacto-BoxForm {
    padding-right: 96px;
  }
}

/* ===================

M11-Distribuidor-Programas  

======================*/

.M11-Distribuidor-Programas {
  overflow: hidden;
  padding: 48px 0;
}

.M11-Distribuidor-Programas .UsualContainer {}

.M11-Distribuidor-Programas-Title {
  margin-bottom: 2em;
}

.M11-Distribuidor-Programas-UL {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.Card-Programa {
  flex: 1;
  margin-bottom: 32px;
}

.Card-Programa-Img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.Card-Programa-Text {
  position: relative;
  border-radius: 10px;
  margin-top: -25%;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 32px;
  background: #ffffff;
  padding: 24px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Card-Programa-Title {}

.Card-Programa-Body {
  flex: 1;
}

.Card-Programa-Button {}

@media (min-width: 768px) {
  .M11-Distribuidor-Programas {
    overflow: hidden;
    padding: 56px 0;
  }

  .M11-Distribuidor-Programas-UL {
    flex-direction: row;
  }

  .Card-Programa {
    padding: 0 8px;
    margin-bottom: 0;
  }

  .Card-Programa-Text {
    min-height: 256px;
    margin-right: 8px;
    margin-left: 8px;
  }
}

@media (min-width: 1024px) {
  .M11-Distribuidor-Programas {
    overflow: hidden;
    padding: 56px 0;
  }

  .Card-Programa {
    padding: 0 16px;
    margin-bottom: 0;
  }

  .Card-Programa-Text {
    min-height: 256px;
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media (min-width: 1280px) {
  .M11-Distribuidor-Programas {
    overflow: hidden;
    padding: 64px 0;
  }

  .Card-Programa-Text {
    min-height: 228px;
  }
}

@media (min-width: 1920px) {
  .M11-Distribuidor-Programas {
    overflow: hidden;
    padding: 88px 0;
  }
}

/* ===================

M12-Distribuidor-Valores  

======================*/

.M12-Distribuidor-Valores {
  overflow: hidden;
  padding: 80px 0 64px 0;
  background: url(images/Curve-White.svg) left top no-repeat #f8f8f8;
  background-size: 100% auto;
}

.M12-Distribuidor-Valores .UsualContainer {}

.M12-Distribuidor-Valores-Title {}

.M12-Distribuidor-Valores-SubTitle {
  margin-bottom: 3em;
}

.M12-Distribuidor-Valores-UL {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.Card-Porque {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}

.Card-Porque-Icon {
  font-size: 40px;
  color: #27ae60;
  background: #ffffff;
  width: 72px;
  height: 72px;
  border-radius: 300px;
  padding: 16px;
  margin-bottom: 24px;
  display: block;
}

.Card-Porque-Title {}

.Card-Porque-Body {}

@media (min-width: 480px) {
  .M12-Distribuidor-Valores-UL {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .M12-Distribuidor-Valores-UL .Card-Porque {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .M12-Distribuidor-Valores {
    padding: 108px 0 56px 0;
  }
}

@media (min-width: 1024px) {
  .M12-Distribuidor-Valores {
    padding: 108px 0 64px 0;
  }

  .M12-Distribuidor-Valores-UL .Card-Porque {
    width: 25%;
  }

  .Card-Porque {
    padding-right: 24px;
  }
}

@media (min-width: 1280px) {
  .M12-Distribuidor-Valores {
    padding: 130px 0 64px 0;
  }
}

@media (min-width: 1920px) {
  .M12-Distribuidor-Valores {
    padding: 148px 0 80px 0;
  }
}

/* ===================

M13-Distribuidor-Cifras  

======================*/

.M13-Distribuidor-Cifras {
  overflow: hidden;
  padding: 80px 0 64px 0;
  background: linear-gradient(rgba(23, 99, 71, 0.7), rgba(23, 99, 71, 0.7)),
    url(images/12_Photo.jpg) center center no-repeat;
  background-size: cover;
}

.M13-Distribuidor-Cifras .UsualContainer {}

.M13-Distribuidor-Cifras-Title {
  color: #fff;
}

.M13-Distribuidor-Cifras-SubTitle {
  margin-bottom: 3em;
}

.M13-Distribuidor-Cifras-UL {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.Card-Cifra {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}

.Card-Cifra-Title {
  color: #fff;
  margin-bottom: 0;
}

.Card-Cifra-Body {
  color: #fff;
  margin-bottom: 0;
}

@media (min-width: 480px) {
  .M13-Distribuidor-Cifras-UL {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .M13-Distribuidor-Cifras-UL .Card-Cifra {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .M13-Distribuidor-Cifras {
    padding: 108px 0 56px 0;
  }
}

@media (min-width: 1024px) {
  .M13-Distribuidor-Cifras {
    padding: 108px 0 64px 0;
  }

  .M13-Distribuidor-Cifras-UL .Card-Cifra {
    width: 25%;
  }

  .Card-Cifra {
    padding-right: 24px;
  }
}

@media (min-width: 1280px) {
  .M13-Distribuidor-Cifras {
    padding: 130px 0 64px 0;
  }
}

@media (min-width: 1920px) {
  .M13-Distribuidor-Cifras {
    padding: 148px 0 80px 0;
  }
}

/* ===================

M14-Carousel-Testimonios  

======================*/

.M14-Distribuidor-Testimonios {
  overflow: hidden;
  padding: 80px 0 64px 0;
}

.M14B-Carousel-Testimonios {
  overflow: hidden;
}

.M14B-Carousel-Testimonios {
  zoom: 1;
}

.M14B-Carousel-Testimonios:before,
.M14B-Carousel-Testimonios:after {
  content: "";
  display: table;
}

.M14B-Carousel-Testimonios:after {
  clear: both;
}

.M14B-Carousel-Testimonios .owl-dots {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  width: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.M14B-Carousel-Testimonios.owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
  opacity: 1;
  width: 20px;
  transition: width 0.2s ease-in;
}

.M14B-Carousel-Testimonios.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
  opacity: 1;
}

.M14B-Carousel-Testimonios.owl-theme .owl-dots .owl-dot span {
  background: #fff;
  opacity: 0.5;
  border-radius: 30px;
  margin-bottom: 10px;
}

.M14B-Carousel-Testimonios.owl-theme .owl-nav {
  display: none;
}

.M14B-Carousel-Testimonios.owl-theme .owl-nav .owl-prev {
  background: #fff !important;
  width: 48px;
  height: 48px;
}

.M14B-Carousel-Testimonios.owl-theme .owl-nav .owl-next {
  background: #fff !important;
  width: 48px;
  height: 48px;
}

.M14B-Carousel-Testimonios.owl-theme .owl-nav .icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 48px;
}

.M14B-Carousel-Testimonios .item {
  width: 280px;
  height: 400px;
  padding: 24px 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 24px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  background-image: url(images/Curve-Green.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 100% auto;
}

.M14B-Carousel-Testimonios__Text {}

.M14B-Carousel-Testimonios__Img {
  width: 120px !important;
  height: 120px;
  border-radius: 400px;
  margin-bottom: 16px;
}

.M14B-Carousel-Testimonios__Name {
  color: #ffffff;
  margin-bottom: 0;
}

.M14B-Carousel-Testimonios__City {
  color: #ffffff;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .M14B-Carousel-Testimonios .item {
    width: 280px;
    height: 400px;
    padding: 32px 24px;
  }
}

@media (min-width: 1024px) {
  .M14B-Carousel-Testimonios .item {
    width: 320px;
    height: 418px;
    padding: 64px 48px;
  }

  .M14B-Carousel-Testimonios.owl-theme .owl-nav {
    display: block;
  }
}

@media (min-width: 1280px) {
  .M14B-Carousel-Testimonios .item {
    width: 348px;
    height: 454px;
    padding: 72px 56px;
  }
}

@media (min-width: 1920px) {
  .M14B-Carousel-Testimonios .item {
    width: 460px;
    height: 600px;
    padding: 88px 64px;
  }
}

/* ===================

M15-Distribuidor-Pasos  

======================*/

.M15-Distribuidor-Pasos {
  overflow: hidden;
  padding: 72px 0;
  background: #ffffff;
  text-align: center;
}

.M15-Distribuidor-Pasos .UsualContainer {}

.M15-Distribuidor-Pasos-Title {}

.M15-Distribuidor-Pasos-SubTitle {
  margin-bottom: 3em;
}

.M15-Distribuidor-Pasos-UL {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}

.M15-Distribuidor-Pasos-Card {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 16px;
}

.M15-Distribuidor-Pasos-Card-Icon {
  font-size: 40px;
  color: #27ae60;
  background: #ffffff;
  width: 56px;
  height: 56px;
  font-size: 56px;
  line-height: 56px;
  border-radius: 300px;
  margin-bottom: 24px;
  display: block;
  vertical-align: middle;
}

.M15-Distribuidor-Pasos-Card-Title {}

.M15-Distribuidor-Pasos-Card-Body {}

@media (min-width: 480px) {
  .M15-Distribuidor-Pasos-UL {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .M15-Distribuidor-Pasos-UL .M15-Distribuidor-Pasos-Card {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .M15-Distribuidor-Pasos {
    padding: 88px 0;
  }
}

@media (min-width: 1024px) {
  .M15-Distribuidor-Pasos {
    padding: 104px 0;
  }

  .M15-Distribuidor-Pasos-UL .M15-Distribuidor-Pasos-Card {
    width: 33%;
  }

  .M15-Distribuidor-Pasos-Card {
    padding-right: 24px;
  }
}

@media (min-width: 1280px) {
  .M15-Distribuidor-Pasos {
    padding: 120px 0;
  }

  .M15-Distribuidor-Pasos-Card-Icon {
    width: 64px;
    height: 64px;
    font-size: 64px;
    line-height: 64px;
  }
}

@media (min-width: 1920px) {
  .M15-Distribuidor-Pasos .UsualContainer {
    padding: 0 120px;
  }

  .M15-Distribuidor-Pasos {
    padding: 148px 0;
  }
}

/* ===================

M16-Datos-Contacto  

======================*/

.M16-Datos-Contacto {
  overflow: hidden;
  padding: 72px 0 16px 0;
  background: #ffffff;
  text-align: center;
}

.M16-Datos-Contacto .UsualContainer {}

.M16-Datos-Contacto-Title {}

.M16-Datos-Contacto-SubTitle {
  margin-bottom: 3em;
}

.M16-Datos-Contacto-UL {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}

.M16-Datos-Contacto-Card {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 16px;
}

.M16-Datos-Contacto-Card-Icon {
  font-size: 40px;
  color: #eb5757;
  background: #ffffff;
  width: 56px;
  height: 56px;
  font-size: 56px;
  line-height: 56px;
  border-radius: 300px;
  margin-bottom: 24px;
  display: block;
  vertical-align: middle;
}

.M16-Datos-Contacto-Card-Title {}

.M16-Datos-Contacto-Card-Body {}

@media (min-width: 480px) {
  .M16-Datos-Contacto-UL {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .M16-Datos-Contacto-UL .M16-Datos-Contacto-Card {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .M16-Datos-Contacto {
    padding: 88px 0 16px 0;
  }
}

@media (min-width: 1024px) {
  .M16-Datos-Contacto {
    padding: 104px 0 16px 0;
  }

  .M16-Datos-Contacto-UL .M16-Datos-Contacto-Card {
    width: 33%;
  }

  .M16-Datos-Contacto-Card {
    padding-right: 24px;
  }
}

@media (min-width: 1280px) {
  .M16-Datos-Contacto {
    padding: 120px 0 16px 0;
  }

  .M16-Datos-Contacto-Card-Icon {
    width: 64px;
    height: 64px;
    font-size: 64px;
    line-height: 64px;
  }
}

@media (min-width: 1920px) {
  .M16-Datos-Contacto .UsualContainer {
    padding: 0 120px;
  }

  .M16-Datos-Contacto {
    padding: 148px 0 16px 0;
  }
}

/* ===================

M17-Datos-Programas  

======================*/

.M17-Datos-Programas {
  overflow: hidden;
  padding: 48px 0;
  background: #f8f8f8;
  text-align: center;
}

.M17-Datos-Programas__ThemeMain .M17-Datos-Programas-Title {
  color: #27ae60;
}

.M17-Datos-Programas__ThemeOrange .M17-Datos-Programas-Title {
  color: #f2994a;
}

.M17-Datos-Programas__ThemeBlue .M17-Datos-Programas-Title {
  color: #1c529b;
}

.M17-Datos-Programas .UsualContainer {
  display: flex;
  flex-direction: column;
}

.M17-Datos-Programas-navUl {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.M17-Datos-Programas-navLi {
  text-align: left;
  width: 50%;
  padding-right: 16px;
  margin-bottom: 1em;
}

.M17-Datos-Programas-Text {
  color: #333333;
}

.M17-Datos-Programas-Button {}

@media (min-width: 768px) {
  .M17-Datos-Programas {
    padding: 56px 0;
    text-align: left;
  }

  .M17-Datos-Programas .UsualContainer {
    flex-direction: row;
  }

  .M17-Datos-Programas-navUl {
    padding-right: 24px;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .M17-Datos-Programas {
    padding: 72px 0;
  }

  .M17-Datos-Programas-navUl {
    flex-wrap: nowrap;
  }

  .M17-Datos-Programas-navLi {
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .M17-Datos-Programas {
    padding: 80px 0;
  }
}

@media (min-width: 1920px) {
  .M17-Datos-Programas {
    padding: 96px 0;
  }
}

/* ===================

M19-Banner  

======================*/

.M19-Banner {
  overflow: hidden;
  padding: 48px 0;
  background: #f8f8f8;
  text-align: center;
  text-align: left;
}

.M19-Banner__ThemeMain {
  background: linear-gradient(rgba(39, 174, 96, 0.7), rgba(39, 174, 96, 0.7)),
    url(images/38_Photo.jpg) center center no-repeat;
  background-size: cover;
}

.M19-Banner__ThemeOrange {
  background: linear-gradient(rgba(242, 153, 74, 0.9), rgba(242, 153, 74, 0.9)),
    url(images/35_Photo.jpg) center center no-repeat;
  background-size: cover;
}

.M19-Banner__ThemeBlue {
  background: linear-gradient(rgba(28, 82, 155, 0.9), rgba(28, 82, 155, 0.9)),
    url(images/36_Photo.jpg) center center no-repeat;
  background-size: cover;
}

.M19-Banner__ThemeDarkGreen {
  background: linear-gradient(rgba(23, 99, 71, 0.9), rgba(23, 99, 71, 0.9)),
    url(images/37_Photo.jpg) center center no-repeat;
  background-size: cover;
}

.M19-Banner .UsualContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vw;
}

.M19-Banner-Title {
  color: #ffffff;
  margin-bottom: 0.3em;
}

.M19-Banner-Text {
  color: #ffffff;
}

.M19-Banner-Button {
  align-self: flex-start;
  margin-top: 1em;
}

@media (min-width: 768px) {
  .M19-Banner {
    padding: 56px 0;
    text-align: left;
  }

  .M19-Banner .UsualContainer {
    min-height: 22vw;
  }
}

@media (min-width: 1024px) {
  .M19-Banner {
    padding: 72px 0;
  }
}

@media (min-width: 1280px) {
  .M19-Banner {
    padding: 80px 0;
  }
}

@media (min-width: 1920px) {
  .M19-Banner {
    padding: 96px 0;
  }
}

/* ===================

M20-Faqs  

======================*/

.M20-Faqs {
  overflow: hidden;
  padding: 80px 0 64px 0;
  background: url(images/Curve-White.svg) left top no-repeat #f8f8f8;
  background-size: 100% auto;
  overflow: hidden;
}

.M20-Faqs .UsualContainer {}

.M20-Faqs-Title {
  margin-bottom: 1em;
}

.M20-Faqs-UL {
  margin-bottom: 2em;
}

.M20-Faqs-Card {
  display: flex;
  flex-direction: column;
}

.M20-Faqs-Card-TitleBox {
  border-bottom: 1px solid #cfcfcf;
  padding: 16px 0;
}

.M20-Faqs-Card-Link {
  display: flex;
  align-items: center;
}

.M20-Faqs-Card-Title {
  flex: 1;
  margin-bottom: 0;
}

.M20-Faqs-Card-Icon {
  color: #27ae60;
  margin-left: 24px;
  vertical-align: middle;
}

.M20-Faqs-Card-Link:hover,
.M20-Faqs-Card-Link:active,
.M20-Faqs-Card-Link:focus,
.M20-Faqs-Card-Link:visited {
  text-decoration: none !important;
}

.M20-Faqs-Card-Link:hover .M20-Faqs-Card-Title {
  text-decoration: underline;
}

.M20-Faqs-Card-ContentBox {
  overflow: hidden;
  padding: 40px 0;
}

.M20-Faqs-Card-Body {}

@media (min-width: 768px) {
  .M20-Faqs {
    padding: 88px 0;
  }
}

@media (min-width: 1024px) {
  .M20-Faqs {
    padding: 104px 0;
  }
}

@media (min-width: 1280px) {
  .M20-Faqs {
    padding: 120px 0;
  }
}

@media (min-width: 1920px) {
  .M20-Faqs {
    padding: 148px 0;
  }
}

/* ===================

M21-Distribuidor-Fotos  

======================*/

.M21-Distribuidor-Fotos {
  padding: 56px 0;
}

.M21-Distribuidor-Fotos .UsualContainer {}

.M21-Distribuidor-Fotos-UL {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.M21-Distribuidor-Fotos-Photo {
  flex: 1 0 50%;
  padding: 1.4vw 1.4vw;
  margin: 1.4vw 1.4vw;
}

.M21-Distribuidor-Fotos-Photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.M21-Distribuidor-Fotos-Photo:before {
  content: "";
  float: left;
  padding-top: 100%;
}

@media (min-width: 480px) {
  .M21-Distribuidor-Fotos-Photo {
    flex: 1 0 33%;
  }
}

@media (min-width: 768px) {
  .M21-Distribuidor-Fotos {
    padding: 88px 0;
  }

  .M21-Distribuidor-Fotos-Photo {
    flex: 1 0 25%;
    padding: 0.8vw 0.8vw;
    margin: 0.8vw 0.8vw;
  }
}

@media (min-width: 1024px) {
  .M21-Distribuidor-Fotos {
    padding: 104px 0;
  }
}

@media (min-width: 1280px) {
  .M21-Distribuidor-Fotos {
    padding: 120px 0;
  }
}

@media (min-width: 1920px) {
  .M21-Distribuidor-Fotos {
    padding: 148px 0;
  }
}

/* ===================

.M22-Distribuidor-Contenido-Programa  

======================*/

.M22-Distribuidor-Contenido-Programa {
  padding: 56px 0;
}

.M22-Distribuidor-Contenido-Programa .UsualContainer {
  display: flex;
  flex-direction: column;
}

.M22-Distribuidor-Contenido-Programa-Tabs {
  flex: 1;
}

.M22-Distribuidor-Contenido-Programa-Tabs .tab-pane {
  padding: 48px 0;
  align-items: stretch;
}

.M22-Distribuidor-Contenido-Programa-Tabs .nav-item .nav-link {
  height: 100%;
}

.M22-Distribuidor-Contenido-Programa-Tabs .M22-Titles {
  padding-top: 1em;
  margin-bottom: 2em;
}

.M22-Distribuidor-Contenido-Programa-List {
  padding-top: 1em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
}

.M22-Distribuidor-Contenido-Programa-List-Li {
  display: flex;
  margin-bottom: 1em;
  flex: 1;
  padding-right: 16px;
}

.M22-Distribuidor-Contenido-Programa-List-Icon {
  color: #27ae60;
  padding-right: 24px;
  vertical-align: middle;
  font-size: 32px;
  line-height: 32px;
}

.M22-Distribuidor-Contenido-Programa-List-Li-Text {
  flex: 1;
  margin: 0;
}

.M22-Distribuidor-Contenido-Programa-Tabs-Img {
  width: 40vw;
  height: 40vw;
  float: right;
  margin-bottom: 0.5em;
  margin-left: 24px;
  border-radius: 10px;
  object-fit: cover;
}

.M22-Distribuidor-Contenido-Programa__ThemeGreen .nav-item .nav-link.active {
  border-bottom: 3px solid #27ae60;
}

.M22-Distribuidor-Contenido-Programa__ThemeOrange .nav-item .nav-link.active {
  border-bottom: 3px solid #f2994a;
}

.M22-Distribuidor-Contenido-Programa__ThemeBlue .nav-item .nav-link.active {
  border-bottom: 3px solid #1c529b;
}

.M22-Distribuidor-Contenido-Programa__ThemeGreen .M22-Titles {
  color: #27ae60;
}

.M22-Distribuidor-Contenido-Programa__ThemeOrange .M22-Titles {
  color: #f2994a;
}

.M22-Distribuidor-Contenido-Programa__ThemeBlue .M22-Titles {
  color: #1c529b;
}

.M22-Distribuidor-Contenido-Programa__ThemeGreen .M22-Distribuidor-Contenido-Programa-List-Icon {
  color: #f2994a;
}

.M22-Distribuidor-Contenido-Programa__ThemeOrange .M22-Distribuidor-Contenido-Programa-List-Icon {
  color: #27ae60;
}

.M22-Distribuidor-Contenido-Programa__ThemeBlue .M22-Distribuidor-Contenido-Programa-List-Icon {
  color: #eb5757;
}

.M22-Distribuidor-Contenido-Programa-Modules {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.M22-Distribuidor-Contenido-Programa-Module {
  flex: 0 0 50%;
  padding: 0 0 32px 0;
}

.M22-Distribuidor-Contenido-Programa-Module-Subtitle {
  margin-bottom: 0.1em;
  text-transform: uppercase;
}

.M22-Distribuidor-Contenido-Programa-Module-Title {}

.M22-Distribuidor-Contenido-Programa-Module-Text {}

.M22-Module-ThemeRed .M22-Distribuidor-Contenido-Programa-Module-Title {
  color: #eb5757;
}

.M22-Module-ThemeBlue .M22-Distribuidor-Contenido-Programa-Module-Title {
  color: #1c529b;
}

.M22-Module-ThemeGreen .M22-Distribuidor-Contenido-Programa-Module-Title {
  color: #27ae60;
}

.M22-Module-ThemeOrange .M22-Distribuidor-Contenido-Programa-Module-Title {
  color: #f2994a;
}

.M22-Distribuidor-Contenido-Programa-Dossier {
  padding: 24px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}

.M22-Distribuidor-Contenido-Programa-Dossier-Img {
  width: 96px;
  height: auto;
  float: left;
  padding-right: 24px;
  margin-bottom: 0.5em;
}

.M22-Distribuidor-Contenido-Programa-Dossier-Title {}

.M22-Distribuidor-Contenido-Programa-Dossier-Intro {}

.M22-Distribuidor-Contenido-Programa-Dossier-Form {
  clear: both;
}

.M22-Distribuidor-Contenido-Programa-Dossier-Outro {}

.M22-Distribuidor-Contenido-Programa-Dossier-Phone {}

@media (min-width: 768px) {
  .M22-Distribuidor-Contenido-Programa {
    padding: 88px 0;
  }
}

@media (min-width: 1024px) {
  .M22-Distribuidor-Contenido-Programa {
    padding: 104px 0;
  }

  .M22-Distribuidor-Contenido-Programa .UsualContainer {
    flex-direction: row;
  }

  .M22-Distribuidor-Contenido-Programa-Tabs {
    padding-right: 48px;
  }

  .M22-Distribuidor-Contenido-Programa-Dossier {
    width: 320px;
    padding: 32px;
  }

  .M22-Distribuidor-Contenido-Programa-Dossier-Img {
    width: 140px;
  }

  .M22-Distribuidor-Contenido-Programa-Modules {
    flex-direction: row;
  }

  .M22-Distribuidor-Contenido-Programa-Module {
    flex: 0 0 50%;
    padding: 0 48px 48px 0;
  }

  .M22-Distribuidor-Contenido-Programa-Tabs-Img {
    width: 22vw;
    height: 22vw;
  }

  .M22-Distribuidor-Contenido-Programa-List {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .M22-Distribuidor-Contenido-Programa-List-Li {
    flex: 0 0 50%;
  }
}

@media (min-width: 1280px) {
  .M22-Distribuidor-Contenido-Programa {
    padding: 120px 0;
  }

  .M22-Distribuidor-Contenido-Programa-Dossier {
    width: 390px;
    padding: 40px;
  }

  .M22-Distribuidor-Contenido-Programa-Tabs {
    padding-right: 64px;
  }
}

@media (min-width: 1920px) {
  .M22-Distribuidor-Contenido-Programa {
    padding: 148px 0;
  }

  .M22-Distribuidor-Contenido-Programa-Tabs {
    padding-right: 72px;
  }
}

/* ===================

M23-Contenido-QuienesSomos  

======================*/

.M23-Contenido-QuienesSomos {
  padding: 56px 0;
}

.M23-Contenido-QuienesSomos .UsualContainer {}

.M23-Contenido-QuienesSomos-Row {
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
}

.M23-Contenido-QuienesSomos-Row-Text {
  flex: 1;
  margin-bottom: 3em;
}

.M23-Contenido-QuienesSomos-Row:last-child {
  margin-bottom: 0;
}

.M23-Contenido-QuienesSomos-Title {}

.M23-Contenido-QuienesSomos-Text {}

.M23-Contenido-QuienesSomos-Img {
  width: 100%;
  height: 80vw;
  border-radius: 10px;
  object-fit: cover;
}

.M23-Img-Right {
  margin-bottom: 0;
}

.M23-Img-Left {
  margin-bottom: 3em;
}

@media (min-width: 768px) {
  .M23-Contenido-QuienesSomos {
    padding: 88px 0;
  }

  .M23-Contenido-QuienesSomos-Row {
    flex-direction: row;
    margin-bottom: 6em;
  }

  .M23-Contenido-QuienesSomos-Row-Text {
    margin-bottom: 0;
  }

  .M23-Contenido-QuienesSomos-Img {
    width: 26vw;
    height: 26vw;
  }

  .M23-Img-Right {
    margin-left: 9vw;
    margin-bottom: 0.5em;
  }

  .M23-Img-Left {
    margin-right: 9vw;
    margin-bottom: 0.5em;
  }
}

@media (min-width: 1024px) {
  .M23-Contenido-QuienesSomos {
    padding: 104px 0;
  }

  .M23-Contenido-QuienesSomos-Img {
    width: 25vw;
    height: 25vw;
  }

  .M23-Img-Right {
    margin-left: 12vw;
  }

  .M23-Img-Left {
    margin-right: 12vw;
  }
}

@media (min-width: 1280px) {
  .M23-Contenido-QuienesSomos {
    padding: 120px 0;
  }

  .M23-Contenido-QuienesSomos-Img {
    width: 20vw;
    height: 20vw;
  }

  .M23-Img-Right {
    margin-left: 9vw;
  }

  .M23-Img-Left {
    margin-right: 9vw;
  }
}

@media (min-width: 1920px) {
  .M23-Contenido-QuienesSomos {
    padding: 148px 0;
  }

  .M23-Contenido-QuienesSomos-Img {
    width: 30vw;
    height: 30vw;
  }

  .M23-Img-Right {
    margin-left: 13vw;
  }

  .M23-Img-Left {
    margin-right: 13vw;
  }
}

/* ===================

M24-Contenido-Legal  

======================*/

.M24-Contenido-Legal {
  padding: 56px 0;
  margin-top: 64px;
}

.M24-Contenido-Legal .h2,
.M24-Contenido-Legal .h3,
.M24-Contenido-Legal .h4,
.M24-Contenido-Legal .SUB,
.M24-Contenido-Legal .h2 {
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.M24-Contenido-Legal .table {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .M24-Contenido-Legal {
    padding: 88px 0;
    margin-top: 64px;
  }
}

@media (min-width: 1024px) {
  .M24-Contenido-Legal {
    padding: 104px 0;
    margin-top: 80px;
  }
}

@media (min-width: 1280px) {
  .M24-Contenido-Legal {
    padding: 120px 0;
    margin-top: 80px;
  }
}

@media (min-width: 1920px) {
  .M24-Contenido-Legal {
    padding: 148px 0;
    margin-top: 96px;
  }
}

/* ===================

M25-Error-Page  

======================*/

.M25-Error-Page {
  display: flex;
  background: #f8f8f8;
  z-index: 11;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  transition: height 0.2s ease-in;
  background: url(images/wave-error-bottom-green.svg) left bottom no-repeat;
  background-size: 100% auto;
}

.M25-Error-Page__logo {
  position: absolute;
  top: 32px;
  left: 32px;
  display: block;
  width: 173px;
  height: 51px;
  overflow: hidden;
  background: url(images/Brand-Logo-Color.svg) 0 0 no-repeat;
  background-size: auto 100%;
  text-indent: 100%;
  white-space: nowrap;
  float: left;
}

.M25-Error-Page__name {}

.M25-Error-Page__desc {}

.M25-Error-Page .UsualContainer {
  display: flex;
  flex-direction: column;
  padding: 120px 10vw;
  justify-content: center;
}

.M25-Error-Page-Text {
  order: 2;
}

.M25-Error-Page-Title {
  margin-bottom: 0.1em;
}

.M25-Error-Page-SubTitle {}

.M25-Error-Page-P {}

.M25-Error-Page-Button {
  float: left;
}

.M25-Error-BigNumber {
  order: 1;
  padding-bottom: 56px;
  font-size: 18vw;
  line-height: auto;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .M25-Error-Page .UsualContainer {
    flex-direction: row;
    align-items: center;
  }

  .M25-Error-Page-Text {
    order: 1;
    flex: 0 0 40%;
    padding-right: 24px;
  }

  .M25-Error-BigNumber {
    order: 2;
    flex: 1;
    padding-bottom: 0;
    text-align: center;
  }
}

/* ===================

M26LightBoxGallery  

======================*/

.M26LightBoxGallery {
  overflow: hidden;
  width: 100%;
  height: 0vh;
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.M26LightBoxGallery {
  zoom: 1;
}

.M26LightBoxGallery:before,
.M26LightBoxGallery:after {
  content: "";
  display: table;
}

.M26LightBoxGallery:after {
  clear: both;
}

.M26LightBoxGallery .owl-dots {
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.M26-The-Gallery.owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
  opacity: 1;
  width: 20px;
  transition: width 0.2s ease-in;
}

.M26-The-Gallery.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
  opacity: 1;
}

.M26-The-Gallery.owl-theme .owl-dots .owl-dot span {
  background: #fff;
  opacity: 0.5;
  border-radius: 30px;
  margin-bottom: 10px;
}

.M26-The-Gallery.owl-theme .owl-nav {}

.M26-The-Gallery.owl-theme .owl-nav .owl-prev {
  background: transparent !important;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 16px;
  transform: translateY(-50%);
}

.M26-The-Gallery.owl-theme .owl-nav .owl-next {
  background: transparent !important;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 16px;
  transform: translateY(-50%);
}

.M26-The-Gallery.owl-theme .owl-nav .icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 48px;
}

.M26LightBoxGallery__ImgPart {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  z-index: 2;
  margin: 0 auto;
  background: center center no-repeat #3b3d3d;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.M26-The-Gallery.owl-carousel {
  position: relative;
  z-index: 2;
}

.M26-The-Gallery .item {
  height: 100vh;
  display: flex;
  align-items: center;
}

.M26-Button-Close {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  overflow: hidden;
  z-index: 20;
}

.M26-Photo-TextBox {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 32px;
}

.M26-Photo-Text {
  color: #ffffff;
}

.M26-Photo {
  width: 100%;
  height: auto;
}

.M26-Overlay {
  background: rgba(51, 51, 51, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.M26__open {
  height: 100vh;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

@media (min-width: 768px) {
  .M26LightBoxGallery .owl-dots {}
}

@media (min-width: 1024px) {}

/* ===================

M27-Cookies  

======================*/

.M27-Cookies {
  position: fixed;
  bottom: -200px;
  left: 0;
  right: 0;
  background: #27ae60;
  z-index: 30;
  width: 100%;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease-in;
}

.M27-Cookies__open {
  bottom: 0;
}

.M27-Cookies .UsualContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.M27-Cookies-Text {
  color: #ffffff;
}

.M27-Cookies__Button {}

@media (min-width: 768px) {
  .M27-Cookies .UsualContainer {
    flex-direction: row;
    align-items: center;
    padding: 8px;
  }

  .M27-Cookies-Text {
    flex: 1;
    margin-bottom: 0;
  }

  .M27-Cookies__Button {}
}

/* ===================

 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()

======================*/

/* owl.theme.default */

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
  margin-top: 10px;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #869791;
  color: #fff;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/* owl.carousel.min */

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.owl-height {
  transition: height 0.5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/* ===================

BOOSTRAP

======================*/

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav-link {
  display: block;
}

.nav-link.disabled {
  pointer-events: none;
  cursor: default;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

/* ===================

Form validation 

======================*/
.error {
  color: #e66262;
  position: relative;
}

.error input {
  font-size: 14px;
  line-height: 20px;
  transition: all 400ms;
  border-color: #e66262 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e662622c;
}

.error input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.6;
  color: #e66262;
}

.success {
  color: #6fcf97;
}

.success input {
  transition: all 400ms;
  border-color: #6fcf97 !important;
}

.success input::-webkit-input-placeholder {
  opacity: 0.6;
  color: #6fcf97;
}

/* ===================

Confirmation-Page  

======================*/

.Confirmation-Page {
  display: flex;
  background: #f8f8f8;
  z-index: 11;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  transition: height 0.2s ease-in;
  background: url(images/wave-error-bottom-green.svg) left bottom no-repeat;
  background-size: 100% auto;
}

.Confirmation-Page .Link-ThemeGreen {
  display: block;
  margin-top: 5px;
}

.Confirmation-Page__logo {
  position: absolute;
  top: 32px;
  left: 32px;
  display: block;
  width: 173px;
  height: 51px;
  overflow: hidden;
  background: url(images/Brand-Logo-Color.svg) 0 0 no-repeat;
  background-size: auto 100%;
  text-indent: 100%;
  white-space: nowrap;
  float: left;
}

.Confirmation-Page .UsualContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 10vw;
}

.Confirmation-Page-Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
}

.Confirmation-Page-Title {
  margin-bottom: 0.5em;
  font-family: "cobbler", sans-serif;
  font-weight: bold;
  margin-bottom: 0.9em;
  font-size: 40px;
  line-height: 42px;
}

.Confirmation-Page-SubTitle {
  margin-bottom: 2em;
  clear: both;
}

.Confirmation-Page-Button {
  width: 180px;
  clear: both;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .Confirmation-Page .UsualContainer {
    width: 950px;
  }

  .Confirmation-Page-Text {
    width: 500px;
  }
}

@media (min-width: 1280px) {
  .Confirmation-Page-Title {
    font-size: 60px;
    line-height: 62px;
  }

  .Confirmation-Page-Text {
    width: 700px;
  }
}

/* ===================

M09-Formulario-Newsletter-Landing 

======================*/

.M09-Formulario-Newsletter-Landing {
  height: 100vh;
  width: 100vw;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(23, 99, 71, 0.7), rgba(23, 99, 71, 0.6)),
    url(images/50_Photo.png) center center no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

.M02-Header__logo.Newsletter-logo {
  background: url(images/Brand-Logo-bn.svg) 0 0 no-repeat;
  background-size: auto 100%;
  margin-bottom: 35px;
  width: 170px;
  height: 50px;
}

.M09-Formulario-Newsletter-Landing-Title {
  color: #ffffff;
}

.M09-Formulario-Newsletter-Landing-Text {
  color: #ffffff;
}

.Newsletter-Landing {
  padding: 50px 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 22px -8px rgba(0, 0, 0, 0.3);
  width: 90vw;
  height: auto;
  background: inherit;
  overflow: hidden;
  position: relative;
}

.Newsletter-Landing::before {
  content: "";
  width: 200%;
  height: 200%;
  background: inherit;
  position: absolute;
  z-index: 1;
  top: -50%;
  left: -50%;
  right: 0;
  bottom: 0;
  filter: blur(20px) brightness(120%);
}

.Newsletter-Landing-Form-Box {
  position: relative;
  z-index: 2;
}

.Newsletter-Landing-Input {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  color: #ffffff;
  font-weight: 500;
}

.Newsletter-Landing-Input::placeholder {
  color: #ffffff;
}

.error .Newsletter-Landing-Input {
  border-color: #bd0000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e60f0f8a;
}

.error .Newsletter-Landing-Input::placeholder {
  color: #bd0000 !important;
}

.Newsletter-Landing-Title {
  color: #ffffff;
}

.M09-Formulario-Newsletter-Landing .Link-ThemeGreen,
.M09-Formulario-Newsletter-Landing .Link-ThemeGreen:visited {
  color: rgb(184, 245, 204);
  text-decoration: underline;
}

.Newsletter-Landing-Text {
  color: #ffffff;
}

.Newsletter-Landing-Form {
  color: #ffffff;
}

@media (min-width: 768px) {
  .Newsletter-Landing {
    padding: 50px;
    width: 60vw;
  }
}

@media (min-width: 1024px) {
  .Newsletter-Landing {
    width: 50vw;
  }
}

@media (min-width: 1920px) {
  .Newsletter-Landing {
    padding: 50px 70px;
  }

  .checkbox {
    vertical-align: middle;
  }
}