@charset "UTF-8";

/* ==========================================================================
   FONTS
   ========================================================================== */


@font-face{font-family:'cobbler';		font-weight: 300;  	 	font-style:  normal;  src:url('cobbler_light-webfont.woff2') format('woff2'),url('cobbler_light-webfont.woff') format('woff');}
@font-face{font-family:'cobbler';		font-weight: normal;   	font-style:  normal;  src:url('cobbler-webfont.woff2') format('woff2'),url('cobbler-webfont.woff') format('woff');}
@font-face{font-family:'cobbler';		font-weight: 500;  	 	font-style:  normal;  src:url('cobbler_medium-webfont.woff2') format('woff2'),url('cobbler_medium-webfont.woff') format('woff');}
@font-face{font-family:'cobbler';		font-weight: 600;   	font-style:  normal;  src:url('cobbler_semibold-webfont.woff2') format('woff2'),url('cobbler_semibold-webfont.woff') format('woff');}
@font-face{font-family:'cobbler';		font-weight: bold;   	font-style:  normal;  src:url('cobbler_bold-webfont.woff2') format('woff2'),url('cobbler_bold-webfont.woff') format('woff');}
@font-face{font-family:'cobbler';		font-weight: 900;   	font-style:  normal;  src:url('cobbler_black-webfont.woff2') format('woff2'),url('cobbler_black-webfont.woff') format('woff');}

@font-face{font-family:'cobbler_sans';	font-weight: 300;   	font-style:  normal;  src:url('cobbler_sans_light-webfont.woff2') format('woff2'),url('cobbler_sans_light-webfont.woff') format('woff');}
@font-face{font-family:'cobbler_sans';	font-weight: normal;  	font-style:  normal;  src:url('cobbler_sans-webfont.woff2') format('woff2'),url('cobbler_sans-webfont.woff') format('woff');}
@font-face{font-family:'cobbler_sans';	font-weight: 500;   	font-style:  normal;  src:url('cobbler_sans_medium-webfont.woff2') format('woff2'),url('cobbler_sans_medium-webfont.woff') format('woff');}
@font-face{font-family:'cobbler_sans';	font-weight: 600;   	font-style:  normal;  src:url('cobbler_sans_semibold-webfont.woff2') format('woff2'),url('cobbler_sans_semibold-webfont.woff') format('woff');}
@font-face{font-family:'cobbler_sans';	font-weight: bold;		font-style:  normal;  src:url('cobbler_sans_bold-webfont.woff2') format('woff2'),url('cobbler_sans_bold-webfont.woff') format('woff');}
@font-face{font-family:'cobbler_sans';	font-weight: 900;  		font-style:  normal;  src:url('cobbler_sans_black-webfont.woff2') format('woff2'),url('cobbler_sans_black-webfont.woff') format('woff');}




