@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?r0zoqa');
  src:  url('icomoon.eot?r0zoqa#iefix') format('embedded-opentype'),
    url('icomoon.ttf?r0zoqa') format('truetype'),
    url('icomoon.woff?r0zoqa') format('woff'),
    url('icomoon.svg?r0zoqa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";

}
.icon-Atencion:before {
  content: "\e901";

}
.icon-Administracion-publica:before {
  content: "\e902";

}
.icon-Artes:before {
  content: "\e903";

}
.icon-Asesoramiento:before {
  content: "\e904";

}
.icon-Certificado:before {
  content: "\e905";

}
.icon-Children:before {
  content: "\e906";

}
.icon-clock:before {
  content: "\e907";

}
.icon-close:before {
  content: "\e908";

}
.icon-Confianza:before {
  content: "\e909";

}
.icon-Contact:before {
  content: "\e90a";

}
.icon-Coordinador:before {
  content: "\e90b";

}
.icon-CV:before {
  content: "\e90c";

}
.icon-Documentos:before {
  content: "\e90d";

}
.icon-Empresarial:before {
  content: "\e90e";

}
.icon-facebook:before {
  content: "\e90f";

}
.icon-Familia:before {
  content: "\e910";

}
.icon-Financiacion:before {
  content: "\e911";

}
.icon-Informe:before {
  content: "\e912";

}
.icon-Ingenieria:before {
  content: "\e913";

}
.icon-instagram:before {
  content: "\e914";

}
.icon-Language:before {
  content: "\e915";

}
.icon-left-arrow:before {
  content: "\e916";

}
.icon-Mail:before {
  content: "\e917";

}
.icon-menu:before {
  content: "\e918";

}
.icon-minus:before {
  content: "\e919";

}
.icon-Mochila:before {
  content: "\e91a";

}
.icon-Normas:before {
  content: "\e91b";

}
.icon-Orientacion:before {
  content: "\e91c";

}
.icon-plus:before {
  content: "\e91d";

}
.icon-right-arrow:before {
  content: "\e91e";

}
.icon-Seguimiento:before {
  content: "\e91f";

}
.icon-Seguros:before {
  content: "\e920";

}
.icon-Student:before {
  content: "\e921";

}
.icon-Tecnologia:before {
  content: "\e922";

}
.icon-Telefono:before {
  content: "\e923";

}
.icon-Traslados:before {
  content: "\e924";

}
.icon-twitter:before {
  content: "\e925";

}
.icon-university:before {
  content: "\e926";

}
.icon-Vuelos:before {
  content: "\e927";

}
.icon-Youtube:before {
  content: "\e928";

}
